@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

html,body{
    scroll-behavior: smooth;
}

a,p,h1,h2,h3,h4,h5,h6,ul,li,button {
	margin: 0;
	padding: 0;
}
a{
    color: inherit !important;
}

.section-blog {
	font-family: "Poppins", 'TheJamsil5Bold',sans-serif;
    padding-top: 80px;
    padding-bottom: 80px;
}

.section-blog .header-section {
	margin-bottom: 20px;
}

.section-blog .header-section .sm-title {
	position: relative;
	display: inline-block;
	margin-bottom: 15px;
	font-size: 17px;
    font-weight: 700;
    letter-spacing: 0.03em;
}

.section-blog .header-section .sm-title:before {
	content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translate(-12px,-50%);
    width: 50px;
    height: 3px;
    background-color: #2ab3c0;
}

.section-blog .header-section .sm-title:after {
	content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(12px,-50%);
    width: 50px;
    height: 3px;
    background-color: #2ab3c0;
}

.section-blog .header-section .title {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.1em;
}

.section-blog .header-section .title span {
	color: #2ab3c0;
}

.section-blog .single-blog {
    margin-top: 40px;
	margin-left: 30px;
}

.section-blog .single-blog ul {
	margin-bottom: 10px;
	text-align: right;
}

.section-blog .single-blog ul li {
	display: inline-block;
}

.section-blog .single-blog ul li {
    padding: 2px 8px;
	border-right: 1px solid #ddd;
}

.section-blog .single-blog ul li:last-child {
	border-right: none;
}

.section-blog .single-blog ul .tags a {
    color: #000;
    font-size: 15px;
    text-decoration: none;
    letter-spacing: -1px;
}

.section-blog .single-blog ul .date {
    color: #777698;
}

.section-blog .single-blog .content {
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 30px 10px rgba(119,118,152,.2);
    border-radius: 10px;
    transition:all .3s;
    border: 2px solid #000;
}

.section-blog .single-blog:hover .content{
    transform: translate(0,3px);
}

.section-blog .single-blog:hover .content {
	box-shadow: 0 10px 30px 10px rgba(119,118,152,.3);
}

.section-blog .single-blog .content .image-and-more {
	position: relative;
	margin-bottom: 30px;
}

.section-blog .single-blog .content .image-and-more .image {
    position: absolute;
    bottom: 0;
    left: -60px;
    background-color: #2ab3c0;
    border-radius: 10px;
    border: 2px solid #000;
}

.section-blog .single-blog .content .image-and-more .image>div{
    width: 110px; height: 110px;
    transform: translate(-10px, -10px);
    border-radius: 10px;
    border: 2px solid #000;
    transition: all ease 0.3s;
    overflow: hidden;
    background: #fff;
}

.section-blog .single-blog .content .image-and-more .image img {
	width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-blog .single-blog:hover .image-and-more .image>div {
    transform: translate(-3px,-3px);
}

.section-blog .single-blog .content .read-more {
    display: inline-block;
    background-color: #f9bc73;
    border: none;
    border-radius: 30px;
    overflow: hidden;
    line-height: 50px;
    transition: all .3s;
    border: 2px solid #000;
}

.section-blog .single-blog .content .read-more:hover {
	background-color: #2ab3c0;
	color: #fff;
}

.section-blog .single-blog .content .read-more .text {
	padding-right: 15px;
    padding-left: 30px;
}

.section-blog .single-blog .content .read-more .icon {
	display: inline-block;
	background-color: #000;
	width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #2ab3c0;
    text-align: center;
}

.section-blog .single-blog .content .read-more .icon img {
	width: 10px;
	height: 10px;
}

.section-blog .single-blog .content .title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 24px;    /* 추가 */
    height: 72px;        /* line-height x line */
}

.section-blog .single-blog .content .writer {
	text-align: right;
    font-size: 14px;
    opacity: 0.9;
}

.end_content{
    transform: translateY(-100%);
    opacity: 0;
    transition: all ease 0.5s;
}
.end_txt{
    margin-top: 62px;
    text-align: center;
    background: #eee;
    padding: 20px 0;
    border-radius: 20px;
    color: #666;
}

.go_top{
    position: fixed;
    bottom: 20px; right:20px;
    background: #f9bc73;
    border: 2px solid #000;
    width: 50px; height: 50px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 30px 10px rgba(119,118,152,.2);
    transition: all ease 0.2s;
}
.go_top a{display: block; width: 100%; height: 100%; opacity: 0;}
.go_top::before{
    content: "▲";
    color: #000;
    display: block;
    width: 100%; height: 100%;
    position: absolute;
    top:0; left: 0;
    text-align: center;
    line-height: 45px;
}

.go_top:hover{
    transform: translateY(-10px);
}

footer{
    padding: 35px 0;
    background: #2ab3c0;
    border-top: 2px solid #000;
    overflow: hidden;
    text-align: center;
    font-family: "Poppins", 'TheJamsil5Bold',sans-serif;
}